<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @bookmark.name %>
</p>

<p>
  <b>Url:</b>
  <%= @bookmark.URL %>
</p>

<p>
  <b>Date:</b>
  <%= @bookmark.date_saved %>
</p>


<%= link_to 'Back', bookmarks_path %>
